@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}

.toptopicos {
    margin: -8px;
    margin-right: -8px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    background-color: #06408A;
    box-shadow: 1px 1px 50px 20px rgb(0, 0, 0);
    margin-top: -25px;

}

.toptopicos > img {
    margin-right: 200px;
    width: 3vw;
    height: 6vh;
}

.toptopicos > input {
    display: flex;
    height: 3vh;
    width: 15vw; 
    border-color: rgb(231, 231, 231);
    border-radius: 3px;
    border-style: solid;
}

.toptopicos > p {
    margin-left: -195px;
    margin-right: 160px;
    color: white;
    font-size: 1.5vw;
}

.toptopicos > button {
    text-decoration: none;
    background-color: white;
    margin-left: -40px;
    border-radius: none;
    border-style: none;
}

#topo {
    padding: 40px;
    text-decoration: none;
    display: flex;
    list-style: none;
    list-style-type: none;
}


#topo a {
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.subtopicos {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-top: -16px;
    margin-bottom: -1px; 
    margin-left: -8px;
    margin-right: -8px;
    background-color: #0F274A;
}

#topicos {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    list-style: none;
}

#topicos a {
    margin: 25px;
    list-style: none;
    text-decoration: none;
    color: #289CF9;
}

#conteudo {
    background-color: rgb(100, 100, 100);
    padding-left: 270px;
    padding-right: 200px
}

#promo img {
    border-radius: 10px;
    width: 900px;
    height: 500px;
}

.center {
    width: 72%;
    margin-top: 4vh;
    margin-left: 14.5vw;
    justify-content: center;
    align-items: center;
}

body { 
    justify-content: center;
    align-items: center;
    background-color: center;
}

#promocoesverde {
    color: white;
    background-color: #0cb929;
    border-radius: 2px;
    font-size: 21px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.678);
    display: flex;
    width: 6.7vw;
    height: 2.5vh;
    padding-left: 0.2vw;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: -325px;
    margin-bottom: 340px;
    margin-left: 920px;    
}

#promoa {
    text-decoration: none;
    display: flex;
    margin-top: -320px;
    margin-left: 920px;
    width: 25%;
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 240px;   
}

#tracoemalta {
    height: 0.2vh;
    width: 20vw;
    margin-bottom: 10px;
    margin-top: -35px;
    background-color: #06408A;
}

#emalta > img {
    width: auto;
    height: auto;
    display: flex;
    margin-left: 18.5vw;
    margin-top: -42px;
    margin-bottom: 35px;
    
}

h3 {
    margin-top: 200px;
    width: 20vw;
}

.number {
    font-size: 20px;
    font-weight: bold;
}

#listaalta > ul {
    text-decoration: none;
    list-style: none;
    color: black;
    margin-left: -2.0vw;
    padding-bottom: 1vh;
}

#listaalta {
    margin-bottom: 8vh;
    width: 20.5vw;
}

#listaalta > ul > li > a {
    text-decoration: none;
    color: black;
    text-align: left;
}

#img1 > a > img {
    display: flex;
    width: 32%;
    height: 32%;
    margin-top: -410px;
    margin-left: 462px;
    border-radius: 7px;
    margin-bottom: 15px;
}

#img1a {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin-left: 462px;
    margin-right: 450px;
}

#img2 > a > img {
    display: flex;
    width: 32%;
    height: 32%;
    margin-top: -311px;
    margin-left: 924px;
    border-radius: 7px;
    margin-bottom: 15px;
}

#img2a {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin-left: 924px;

}

#ultimas > h2 {
    
}

#ultimas > a {
    text-decoration: none;
    margin-left: 0px;   
}

#a1 {
    color: black;
    display: flex;
    padding-left: 460px;
    margin-right: 500px;
    margin-top: -150px;
    margin-bottom: 150px;
    font-weight: bold;
    font-size: 20px;
}

#ultimas > a > img {
    border-radius: 7px;
    width: 32%;
    height: 32%;
}

#ultimas {
    margin-top: 8vh;
}


#tutoeguia {
    display: flex;
    margin-left: 1300px;
    
}

#tutoriais {
    width: 100%;
    height: 100%;
    margin-top: -1520px;
    margin-right: -10px;
}

#tutoriais > h2 {
    margin-left: -370px;

}

#tutoriais > a {
    display: flex;
    margin-top: -45px;
    text-decoration: none;
    color: #289CF9;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

#tutoriais > ul > li {
    list-style-type: none;
}

#tutoriais > ul > li > a {
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: -410px;
    padding-top: 25px;
    margin-right: -4px;
}

#guias {
    width: 100%;
    height: 100%;
    margin-top: -1150px;
    margin-left: -50px;
    margin-right: -4px;
}

#guias > h2 {
    margin-left: -363px;
}

#guias > a {
    display: flex;
    margin-top: -45px;
    text-decoration: none;
    color: #289CF9;
    font-weight: bold;
    width: 100%;
    height: 100%;
}


#guias > ul > li {
    list-style-type: none;
}

#guias > ul > li > a {
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: -403px;
    padding-top: 25px;

}

#ultimosreviews {
    margin-top: 5vh;
}

#ultimosreviews > h2 {
    display: flex;
    margin-bottom: -500px;
}

#areview {
    display: flex;
    color: #289CF9;
    margin-top: -45px;
    text-decoration: none;
    font-weight: bold;
    margin-right: -26px;
    margin-left: 1236px; 
    margin-bottom: 3vh; 
    width: 9%;
}

#areview1 {
}

#imgreview1 {
    display: flex;
    border-radius: 10px;
    width: 10.8vw;
    height: 33vh;
}

#textoar1 {
    display: flex;
    text-decoration: none;
    color: black;
    padding-top: 1.2vh;
    font-weight: bold;
    font-size: 20px;
    width: 10.8vw;
    height: 31vh;

}

#areview2 {
}

#imgreview2 {
    display: flex;
    border-radius: 10px;
    width: 10.8vw;
    height: 33vh;
    margin-top: -65.2vh;
    margin-left: 12vw;
}

#textoar2 {
    display: flex;
    text-decoration: none;
    color: black;
    padding-top: 1.2vh;
    font-weight: bold;
    font-size: 20px;
    width: 10.8vw;
    height: 31vh;
    margin-left: 12vw;

}

#areview3 {
}

#imgreview3 {
    display: flex;
    border-radius: 10px;
    width: 10.8vw;
    height: 33vh;
    margin-top: -65.2vh;
    margin-left: 24vw;
}

#textoar3 {
    display: flex;
    text-decoration: none;
    color: black;
    padding-top: 1.2vh;
    font-weight: bold;
    font-size: 20px;
    width: 10.8vw;
    height: 31vh;
    margin-left: 24vw;
}

#areview4 {
}

#imgreview4 {
    display: flex;
    border-radius: 10px;
    width: 10.8vw;
    height: 33vh;
    margin-top: -65.2vh;
    margin-left: 36vw;
}

#textoar4 {
    display: flex;
    text-decoration: none;
    color: black;
    padding-top: 1.2vh;
    font-weight: bold;
    font-size: 20px;
    width: 10.8vw;
    height: 31vh;
    margin-left: 36vw;
}

#areview5 {
}

#imgreview5 {
    display: flex;
    border-radius: 10px;
    width: 10.8vw;
    height: 33vh;
    margin-top: -65.2vh;
    margin-left: 48vw;
}

#textoar5 {
    display: flex;
    text-decoration: none;
    color: black;
    padding-top: 1.2vh;
    font-weight: bold;
    font-size: 20px;
    width: 10.8vw;
    height: 31vh;
    margin-left: 48vw;
}

#areview6 {
}

#imgreview6 {
    display: flex;
    border-radius: 10px;
    width: 10.8vw;
    height: 33vh;
    margin-top: -65.2vh;
    margin-left: 60vw;
}

#textoar6 {
    display: flex;
    text-decoration: none;
    color: black;
    padding-top: 1.2vh;
    font-weight: bold;
    font-size: 20px;
    width: 10.8vw;
    height: 31vh;
    margin-left: 60vw;
}


#maisnoticias {
    margin-top: -15vh;  
}

#maisnoticias > a {

}

#maisnoticias > a > img {
    border-radius: 10px;
    width: 25vw;
    height: 28vh;
}

.textomais {
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 21px;
    margin-top: -17vh;
    margin-bottom: 15vh;
    margin-left: 27vw;
    width: 35%;
}

#rodape {
    margin: -8px;
    margin-right: -8px;
    background-color: #06408A;
    width: 100vw;
    height: 500vh;
    margin-top: 30vh;
    padding-top: -50px;
    
}

#sobre > h3 {
    color: white;
    padding-top: 8vh;
    margin-left: 15vw;
    margin-bottom: 2vh;
}

#sobre > a {
    text-decoration: none;
    color: white;
    display: flex;
    margin-left: 15vw;
    padding-bottom: 1vh;
}

#conteudos > h3 {
    display: flex;
    color: white;
    margin-left: 30vw;
    margin-bottom: 2vh;
    margin-top: -19.8vh;
}

#conteudos > a {
    text-decoration: none;
    display: flex;
    color: white;
    padding-bottom: 1vh;
    margin-left: 30vw;
}

#redessociais > h3 {
    display: flex;
    color: white;
    margin-left: 45vw;
    margin-bottom: 2vh;
    margin-top: -29.1vh;
}

#redessociais > a {
    text-decoration: none;
    display: flex;
    color: white;
    padding-bottom: 1vh;
    margin-left: 45vw;
}

#consoles > h3 {
    color: white;
}

#consoles > a {
    text-decoration: none;
    color: white;
    display: flex;
}

#baixeapp > h3 {
    color: white;
}

#baixeapp > a {
    text-decoration: none;
    color: white;
    display: flex;
}

#baixeapp > a > img {
    width: 8vw;
}






